[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
openai = "*"
uvicorn = "*"
python-multipart = "*"
pdf2image = "*"
pytesseract = "*"
llama-index-vector-stores-chroma = "*"
llama-index-llms-mistralai = "*"
llama-index-embeddings-mistralai = "*"
chromadb = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
